body{
    color: white;
    font-family: Maximum Impact;
}

/*Y su background es transparente*/
::-webkit-scrollbar{
    background: transparent;

}

/*es para nuestra barra horizontal al final de la pagina, para desplazarnos
en la lista de series recomendadas
La barra es oscura, con transparencia y un poco redondeada*/
::-webkit-scrollbar-thumb:horizontal{
    background-color: rgba(0,0,0,0.61);
    border-radius: 10px;

}